@import url('ratchet.css');

#loginout {
    margin: 10px;
}

#loginout p {
    margin-bottom: 0.5em;
}

.error {
    color: red;
}

.offline .content {
    background-color: #bada55;
}

code {
    display: block;
    padding: 11px;
    margin-bottom: 10px;
    font-size: 16px;
    background: #f8f8f8;
    border: 1px solid #d4d4d4;
    border-radius: 3px;
    box-shadow: inset 0 1px 1px rgba(255, 255, 255, .4), 0 1px 2px rgba(0, 0, 0, .05);
}