<div class="content-padded">
      <p class="welcome">$fh.auth gives differnt options to Authenticating with the cloud. You can choose FeedHenry, OAuth or LDAP methods.</p>
</div>

<form>
  <div class="input-group">
    <div class="input-row">
      <label>Username</label>
      <input type="text" id="username" placeholder="">
    </div>
    <div class="input-row">
      <label>Password</label>
      <input type="password" id="password" placeholder="">
    </div>
  </div>
  <a class="button button-block">Login!</a>
</form>