<div class="content-padded">
      <p>This sample app will give you a flavour of the power of the FeedHenry platform, as well as highlighting the ease and rapid deployment potential there is with HTML5 based apps.</p>
      <p>This solution is based on backbone.js and require.js, using the Ratchet UI toolkit</p>
      <p>Use the button at the top right to toggle connectivity to demonstrate the different ways of handling connectivity issues. When the app is offline, the main background will turn #bada55!</p>
</div>