<div class="content-padded">
      <p>This sample app will give you a flavour of the power of the FeedHenry platform, as well as highlighting the ease and rapid deployment potential there is with HTML5 based apps.</p>
      <p>This solution is based on backbone.js and require.js, using the Ratchet UI toolkit</p>
      <p>Use the button at the top right to toggle connectivity to demonstrate the different ways of handling connectivity issues. When the app is offline, the main background will turn #bada55!</p>
      <p><a href="http://momentjs.com/">momentjs</a> is a great llibrary used for parsing dates, so we can use something like:</p>
        <code>moment().format('MMMM Do YYYY, h:mm:ss a');</code><br />
      <p>and it gives us...</p>
      <p class="momentOutput"></p>
      <a class="button button-block momentCloud">Cloud Date Call</a>
      <p class="momentCloudOutput"></p>
    </div>