<div class="content-padded">
      <p class="welcome">$fh.webview will allow you to open links to external sites from within your app, allowing you direct people to third party content, but still easily come back to your app.</p>
      <p><code>$fh.webview(options, success(res), failure(msg, err))</code></p>
      <a href="http://docs.feedhenry.com" title="FH Docs" class="webview button-block">Open WebView</a>
      <p>To open a link externally in the devices native browser, use the following</p>
      <p><code>window.open(url, "_system");</code></p>
      <a href="http://docs.feedhenry.com" title="FH Docs" target="_blank" class="external button-main button-block">Open in Safari</a>
</div>